.mainAboutContainer {
    width: auto;
    padding-inline: 100px;
    /*min-height: 80vh;*/
}

.aboutContainer{
    display: flex;
    justify-content: center;
}
.collapseAbout{
    width: 90%;
    font-size: 18px;
}