.footer{
    text-align: center;
    gap: 50px;
    width: 100%;
    height: 150px;
    background-color: #000;
    &_copyright{
        color: white;
    }
    img{
        margin-top: 30px;
    }
}
