.logement{
    &_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        color: #FF6060;
        width: 95%;
        margin: 0 auto;
        @media screen and (max-width: 650px){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;   
            gap: 40px;   
        }
        &_infos{
            display: flex;
            flex-direction: column;
            font-weight: 500;
            font-size: 14px;
            margin: 0 0 20px 0;
            button{
                display: inline;
                padding: 5px 15px;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 10px;
                border: none;
                color: white;
                background-color: #FF6060;
                &:hover{
                    box-shadow: 0 2px 8px rgb(0, 0, 0);
                }
            }
            div{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;  
            }
        }
        &_host{
            display: flex;
            flex-direction: column;
            gap: 5px;
            @media screen and (max-width: 650px){
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;     
            }
            div{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 0 10px;
                @media screen and (max-width: 500px){
                    gap: 0 5px;   
                }
            }
            &_name{
                align-self: center;
                flex-direction: column;
            }
            img{
                width: 64px;
                height: 64px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
            &_stars{
                display: flex;
                gap: 10px;
                img{
                    width: 30px;
                    height: 30px;
                    @media screen and (max-width: 650px){
                        width: 20px;
                        height: 20px;  
                    }
                }
            }
        }
    }
}

.logement{
    &_collapse{
        @media screen and (min-width: 1024px){
            gap: 20px;
            display: flex;
            margin: 0 0px 0 25px;
            max-width: 95%;
        }
    }
}    
div.logement_collapse > div.logement_collapse_item{
    flex:1;
 }